<div class="list-group">
  <a *ngFor="let todo of todos" href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex justify-content-between">
      <h5 class="list-group-item-heading">{{ todo.title }}</h5>
      <small>{{ todo.category }}</small>
    </div>
    <div class="d-flex justify-content-between">
      <p class="list-group-item-text">{{ todo.description }}</p>
      <small class="" *ngIf="todo.done">Done</small>
    </div>
  </a>
</div>

